*{
  padding: 0;
  margin: 0 auto;
}

/*, *::before, *::after{
//  box-sizing: border-box;
//}*/


.main-container{

  display: block;
  position: absolute;
  width: 100%;
  margin: auto;
  margin-top: 60px;
  padding: 70px 20px 20px 20px;
  background-color: #c4d7ff;
  border-style: double;
  border: 3px white;
  border-radius: 4px;
  border-color: black;
}



*{
  padding: 0;
  margin: 0 auto;
}

/*, *::before, *::after{
//  box-sizing: border-box;
//}*/

a{
  color: white;
  text-decoration: none !important;
}

#navbar{
  position: relative;
  color: white;
  left: 10px;
  position: fixed;
  margin: auto;
  width: 100%;
  height: 62px;
  background-color: blue;
  opacity: 0.9;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

#logo{
    text-shadow: 10px;
    width: 20%;
    text-transform: capitalize;
    font-size: 40px;
    outline-width: thick;
    padding-left: 15px;
    padding-top: 10px;
    font-family: serif;
    color: #f3162a;
    font-family: Harlow Solid Italic;
    margin-top: 30px;
    cursor: pointer;
}

.categoria:hover{
  background-color: darkorange;
  border-color: #520066;
  color: black;
  transition: all 0.5s;
  border-radius: 4px;
}

.categoria{
  outline-width: thick;
  overflow: hidden;
  margin: 0 !important;
  float: right !important;
  text-align: center;
  max-width: 170px;
}

.titulo-categoria{
  border: none;
  color: white;
  width: auto;
  padding: 14px 15px;
  margin: 0;
  text-align: center;
  height: 59px;
}

.contenido-categoria{
    display: none;
    background-color: #003d66;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
}

.contenido-categoria a{
  float: none;
  color: white;
  background-color: rgba(50, 50, 50, 0.9);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.contenido-categoria:last-child{
  border-bottom: 3px solid white;
  border-radius: 5px;
}

.categoria a:hover{
  color: orange;
  border-left: 3px solid darkorange;
  border-right: 3px solid darkorange;
}
.categoria:hover .contenido-categoria{
  display: block;
}

.categoria:hover .angle.down{
  transform: translateY(50%);
}

.angle.down{
    font-size:20px;
    margin-right: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
