*{
  margin: 0;
  padding: 0;
}

header {
  background-image: url("/images/home-bg.jpg");
  height: 100vh;
  background-size:auto;
  background-position: center;
}

.has-new-line::before{
  content: '\A';
  white-space: pre;
}

.title-logo h1{
  color: darkorange;
  font-family: "Palatino", serif;
  font-size: 70px;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
}

.button{
  border: 3px solid black;
  padding: 2px 2px 2px 2px;
  background-color: white;
  color: black;
  display: inline;
}

.navigator ul li{
  float: left;
  list-style: none;
  margin: 10;
  font-size: 20px;
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  font-family: "Georgia", serif;
}

.navigator ul li a{
  text-shadow: 10px;
  color: white;
  text-decoration: none;
  display: block;
}

.navigator ul li a:hover{
  background-color: darkorange;
  transition: all 0.5s ease-in;
  border: 1px solid black;
}

.navigator ul li:hover ul li{
  display: block;
}

.navigator ul li ul{
    background-color: orange;
    margin-bottom: 30px;
    list-style: disc;
}

.navigator ul li ul li{
  width: 200px;
  display: none;
}

.loginTable table{
  margin: 20px 20px 20px 20px;
}

.loginTable table td{
  color: white;
  padding: 4px 4px 4px 4px;
}
